//::::::::::-JAVASCRIPT FRAMEWORKS-::::::::::
//__JQuery from CDN
//- script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
script(type='text/javascript', src="/vendor/jquery-2.0.3.min.js")
//__Socket.io from CDN
//- script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js")
script(type='text/javascript', src="/vendor/socket.io.min.js")
//__PJAX for web app, ajax loading -- https://github.com/defunkt/jquery-pjax
//- script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.7.0/jquery.pjax.min.js")
script(type='text/javascript', src="/vendor/jquery.pjax.min.js")
//__Twiiter Bootstrap
script(type='text/javascript', src="/vendor/bootstrap/js/bootstrap.min.js")
//::::::::::-MAIN JS FILE-::::::::::
//__Personal JS File for the actual implementation
script(type='text/javascript', src="/js/index.js")